/*  Google fonts import: Montserrat & Oswald */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Oswald:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Colors -------------------------------------------------- */
:root {
    --white: #ffffff;
    --orange: #FFA800;
    --dark-grey: #2F4858;
    --light-grey: #C4C4C466;
    --light-orange: #FFCB66;
}

/* General styles ------------------------------------------ */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--white);
    text-align: center;
}

h1,
h2 {
    font-family: 'Oswald', sans-serif;
    color: var(--dark-grey);
    text-transform: uppercase;
    text-align: center;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: var(--dark-grey);
    font-size: 12px;
}

/* Header styles ------------------------------------------- */
header {
    background-color: var(--white);
    padding: 0 20px;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 0;
}

.header-logo {
    display: block;
    width: 78px;

}

header a {
    text-decoration: none;
    color: inherit;
}


/* Menu styles --------------------------------------------- */
.menu {
    list-style-type: none;
    font-size: 18px;
    padding-bottom: 70px;
    margin-top: auto;
    vertical-align: top;
    text-align: center;
}

.menu>li {
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

.languages {
    text-align: center;
}


.active {
    font-weight: bold;
    border-bottom: 3px solid var(--orange);
}

/* Nav bar styles ------------------------------------------ */
nav {
    position: absolute;
    background-color: var(--white);
    width: 100%;
    left: 0;
    display: none;
    top: 100%;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 1.5rem;
    padding-top: 15px;
}

/* Main section */
/* About --------------------------------------------------- */
.hero {
    position: relative;
    top: 0;
    left: 0;
}

.video {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

.play-video {
    position: absolute;
    top: 35%;
    left: 45%;

}

.description {
    font-size: 12px;
    color: var(--dark-grey);
    text-align: center;
    padding: 100px 20px;
}

/* Gallery ------------------------------------------------- */

.gallery {
    display: flex;
    margin-bottom: 70px;
    display: flex;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-flow: nowrap;
}

.gallery img {
    margin: 0, 0, 0, 0;
}

/* Take action --------------------------------------------- */



/* Buttons ------------------------------------------------- */


.btn {

    border-radius: 30px;
    border: none;
    background-color: var(--orange);
    color: var(--white);
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 70px;
}

.btn-wide {
    width: 233px;
    height: 50px;
}

.btn-small {
    width: 140px;
    height: 48px;
}

/* Contact ------------------------------------------------- */



.contact h1 {
    margin-top: 50px;
    margin-bottom: 30px;
}

.contact p {
    text-align: left;
    margin-left: 20px;
}

input,
textarea {
    background-color: var(--light-grey);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: var(--dark-grey);
    padding-left: 10px;
    border: none;
    border-radius: 6px;
    margin: 5px 20px;
}

input {
    width: 280px;
    height: 35px;

}

textarea {
    width: 280px;
    padding-top: 5px;
}


.agree-area {
    margin-top: 10px;
}

input.checkbox {
    float: left;
    width: 16px;
    height: 16px;
}

.agree-area p {
    overflow: hidden;
    padding-top: 2px;
}

/* Sponsors ------------------------------------------------ */

.sponsors {
    background-color: var(--light-orange);
    margin-top: 0;
}

.sponsors h1 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.logo-area {
    padding: 0 20px 20px 20px;
}

.logo-row {
    display: flex;
    align-items: center;
}

.logo-column img {
    margin-bottom: 20px;
}






/* Footer -------------------------------------------------- */

.footer-container {
    background-color: var(--dark-grey);
    padding: 40px 0 20px 20px;
}

.info h3,
.info p,
.copyright p {
    color: var(--white);
    text-align: left;

}

.footer-container p {
    padding-bottom: 10px;
}

.logo-container {
    text-align: left;
    margin-bottom: 20px;
}

.footer-container h3 {
    padding-bottom: 20px;
}

.copyright p {
    font-size: 11px;
}



.socials {
    padding: 30px 0 30px 0;
    text-align: left;
}

.socials i {
    text-decoration: none;
    font-size: 25px;
    color: var(--white);
    padding-right: 30px;
}

/* For laptop screens and bigger */
@media screen and (min-width: 1440px) {
    .sponsor-logo {}
}